page-home{


.miestilo{
    width: 80px;
    height: 80px;
    color: red;
    background-color: aqua;
    padding: 20px;
}   
.estilo{
    color:black ;
    background-color: gray;
    padding: 20px;

}

}
